
<h2>AddChangeHistory</h2>

<div class="form-group">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @using (Html.BeginForm("AddChangeHistoryResult", "ChangeHistory", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

    <fieldset>
        
        @Html.Hidden("selectedReportId", @ViewData["selectedReportId"])
        @Html.Hidden("selectedReportName", @ViewData["selectedReportName"])
        @Html.Hidden("isAdd", "true")



        @Html.Action("_SPNamesList", "MainConsole", new { selectedReportId = @ViewData["selectedReportId"].ToString() })


       
        <label class="col-form-label" for="ITComment">Internal Comment*</label>
        @Html.TextBox("ITComment", null, new { @class = "form-control valid", @data_val = "true", @data_val_required = "ITComment is required" })

        <label class="col-form-label" for="PublicComment">Public Comment</label>
        @Html.TextBox("PublicComment", null, new { @class = "form-control" })

        <label class="col-form-label" for="IsRDLChange">RDL Change?</label>
        <div class="custom-control custom-radio">
            @Html.RadioButton("IsRDLChange", "Yes", new { @class = "custom-control", @checked = true, id = "IsRDLChange" })
            @Html.Label("Yes", "Yes")
            @Html.RadioButton("IsRDLChange", "No", new { @class = "custom-control", id = "IsRDLChange" })
            @Html.Label("No", "No")
            
        </div>
        <input type="submit" value="ADD" class="btn btn-primary" />
    </fieldset>
    }
</div>







