
@model List<ReportDocumentationConsole.ViewModels.ReportChangeLog>

@{
    ViewBag.Title = "ChangeHistory";
}

@{

    Html.RenderAction("_DropDownList", "Home", new { selectedReportName = ViewData["selectedReportName"] });
}


@Html.Action("_ReportDescription", "MainConsole", new { selectedReportId = @ViewData["selectedReportId"].ToString() })

@Html.Partial("_MainButtons")



@section Scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".delete").click(function (e) {
                e.stopPropagation();
                var CurrentEle = $(this);
                var value = $(this).html();
                var row = $(e.target).closest('tr');
                var ChangeHisID = row.find($("[id*=key]")).val();
              
                DeleteRow(ChangeHisID, confirm("Are you sure?"));
            });

        });
        function DeleteRow(ChangeHisID,con) {
            var para = {};
            if (con == true)
            {
                para.ID = ChangeHisID;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteCH", "ChangeHistory")',
                    data: '{para: ' + JSON.stringify(para) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        alert("done!! ");
                        location.href = location.href;
                        window.location.reload();
                    }

                    });
            }
            
        }
    </script>
}



<div style="max-height: 500px; overflow: auto;">

    <table class="table table-hover">
        <thead>
            <tr>

                <th width="1px"></th>

                <th scope="col"><center>@Html.DisplayNameFor(m => m[0].RowCreateDate)</center></th>
                <th scope="col"><div class="table-show2line"> @Html.DisplayNameFor(m => m[0].ItComment) </th>

              
                <th scope="col"><center>@Html.DisplayNameFor(m => m[0].IsRDLChange)</center></th>
                <th scope="col"><center>@Html.DisplayNameFor(m => m[0].SPChanged)</center></th>
                <th scope="col"><center>@Html.DisplayNameFor(m => m[0].ChangeEndUserName)</center></th>
                <th scope="col"><center>@Html.DisplayNameFor(m => m[0].ChangeReason)</center></th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for(var i = 0; i < Model.Count; i++)
            {
            <tr class="table-primary" width="130">

                <td>@Html.HiddenFor(modelItem => Model[i].ID, new { id = "key" })</td>

                <td width="120px" align="center">@Model[i].RowCreateDate.ToShortDateString()</td>
                <td style="word-wrap: break-word; overflow-wrap:break-word;"><div>@Model[i].ItComment</div></td>
                
                <td width="80px" align="center">@Model[i].IsRDLChange</td>
                <td width="80px" align="center">@Model[i].SPChanged</td>
                <td width="160px" align="center">@Model[i].ChangeEndUserName</td>
                <td width="150px" align="center">@Model[i].ChangeReason</td>
               
                <td width="40px"><div class="delete"><button class="btn btn-outline-secondary">Delete</button></div></td>
            </tr>
            }
        </tbody>
    </table>

</div>


@Html.Partial("_AddChangeHistory")


