
@model List<ReportDocumentationConsole.ViewModels.ReportChangeLog>

@{
    ViewBag.Title = "ChangeHistory";
}

@{

    Html.RenderAction("_DropDownList", "Home", new { selectedReportName = ViewData["selectedReportName"] });
}


@Html.Action("_ReportDescription", "MainConsole", new { selectedReportId = @ViewData["selectedReportId"].ToString() })

@Html.Partial("_MainButtons")



@section Scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $(".delete").click(function (e) {
                e.stopPropagation();
                var CurrentEle = $(this);
                var value = $(this).html();
                var row = $(e.target).closest('tr');
                var ChangeHisID = row.find($("[id*=key]")).val();
                DeleteRow(ChangeHisID);
            });

        });
        function DeleteRow(ChangeHisID) {
            var para = {};

            para.ID = ChangeHisID;
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteCH", "ChangeHistory")',
                data: '{para: ' + JSON.stringify(para) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert("done!! ");
                    location.href = location.href;
                    window.location.reload();
                }

            });
        }
    </script>
}



<div style="max-height: 500px; overflow: auto;">

    <table class="table table-hover">
        <thead>
            <tr>

                <th width="1px"></thwidth="40px">

                <th scope="col">
                    @Html.DisplayNameFor(m => m[0].RowCreateDate)
                </th>
                <th scope="col"> @Html.DisplayNameFor(m => m[0].ItComment) </th>

                @*<th scope="col"> @Html.DisplayNameFor(m => m[0].PublicComment) </th>*@
                <th scope="col"> @Html.DisplayNameFor(m => m[0].IsRDLChange) </th>
                <th scope="col">@Html.DisplayNameFor(m => m[0].ChangeEndUserName)</th>
                <th scope="col">@Html.DisplayNameFor(m => m[0].ChangeReason)</th>
                <th scope="col">@Html.DisplayNameFor(m => m[0].ReportSPName)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for(var i = 0; i < Model.Count; i++)
            {
            <tr class="table-primary" width="130">

                <td>@Html.HiddenFor(modelItem => Model[i].ID, new { id = "key" })</td>

                <td width="120px">@Model[i].RowCreateDate.ToShortDateString()</td>
                <td display="inline-block">@Model[i].ItComment</td>
                @*<td>@Model[i].PublicComment</td>*@
                <td width="120px">@Model[i].IsRDLChange</td>
                <td width="160px">@Model[i].ChangeEndUserName</td>
                <td width="200px">@Model[i].ChangeReason</td>
                <td width="300px">@Model[i].ReportSPName</td>
                <td width="40px"><div class="delete"><button class="btn btn-outline-secondary">Delete</button></div></td>
            </tr>
            }
        </tbody>
    </table>

</div>


@Html.Partial("_AddChangeHistory")


