

<h3>AddLinkages</h3>

<div class="form-group">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @using (Html.BeginForm("AddLinkagesResult", "Linkages", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
    <fieldset>

        @Html.Hidden("selectedReportId", @ViewData["selectedReportId"])
        @Html.Hidden("selectedReportName", @ViewData["selectedReportName"])
        @Html.Hidden("isAdd", "true")


        <label class="col-form-label" for="LinkageType">Linkage Type*</label>
        @Html.TextBox("LinkageType", null, new { @class = "form-control valid", @data_val = "true", @data_val_required = "ITComment is required" })


        <label class="col-form-label" for="LinkLocation">Linkage Location*</label>
        @Html.TextBox("LinkLocation", null, new { @class = "form-control valid", @data_val = "true", @data_val_required = "LinkLocation is required" })

        <label class="col-form-label" for="CreatedEndUser">Creat EndUser*</label>
        @Html.Action("_EndUserNamesList", "MainConsole")


        <input type="submit" value="submit" class="btn btn-primary" />
    </fieldset>
    }
</div>








