
@model List<ReportDocumentationConsole.ViewModels.ReportLinkage>

@{
    ViewBag.Title = "Linkages";
}

@{

    Html.RenderAction("_DropDownList", "Home", new { selectedReportName = ViewData["selectedReportName"] });
}

@Html.Action("_ReportDescription", "MainConsole", new { selectedReportId = @ViewData["selectedReportId"].ToString() })

@Html.Partial("_MainButtons")

@section Scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".LinkageLocation").dblclick(function (e) {
                e.stopPropagation();
                var CurrentEle = $(this);
                var value = $(this).html();
                var row = $(e.target).closest('tr');
                var LinkageID = row.find($("[id*=key]")).val();
                UpdateVal(CurrentEle, value, LinkageID, "LinkageLocation");
            });
            $(".delete").click(function (e) {
                e.stopPropagation();
                var CurrentEle = $(this);
                var value = $(this).html();
                var row = $(e.target).closest('tr');
                var LinkageID = row.find($("[id*=key]")).val();
                //DeleteRow(LinkageID);
                DeleteRow(LinkageID, confirm("Are you sure?"));
            });

        });
        function UpdateVal(CurrentEle, value, LinkageID, ColumnToUpdate) {
            if ($(".cellValue") !== undefined) {
                if ($(".cellValue").val() !== undefined) {
                    $(".cellValue").parent().html($("#OriginalValue").val().trim());
                    $(".cellValue").remove();
                }
            }
            if (value.match("<") == null) {
                $(CurrentEle).html('<div class="cellValue" id="cellWrapper"> ' +
                    '<input class="cellValue" type="text" id="txtValue" value="' + value + '" />' +
                    '<input class="cellValue" type="hidden" value="' + LinkageID + '" id="keySelected" />' +
                    '<input class="cellValue" type="hidden" value="' + ColumnToUpdate + '" id="ColumnToUpdate" /> ' +
                    '<input class="cellValue" type="hidden" value="' + value + '" id="OriginalValue" /> ' +
                    '<input class="cellValue" type="button" value="save"   onclick="return SaveChanges()" /> ' +
                    '<input class="cellValue" type="button" value="cancel" onclick="return CancelChanges()" /> ' +
                    '</div> ');
            }
            $(".cellValue").focus();
            $(".cellValue").keyup(function (event) {
                if (event.keyCode == 13) {
                    $(CurrentEle).html($(".cellValue").val().trim());
                }
            });
        }

        function CancelChanges(e) {
            if ($(".cellValue") !== undefined) {
                if ($(".cellValue").val() !== undefined) {
                    $(".cellValue").parent().html($("#OriginalValue").val().trim());
                    $(".cellValue").remove();
                }
            }
            window.location.reload();
        }

        function DeleteRow(LinkageID,con) {
            var link = {};
            if (con == true)
            {
                link.ID = LinkageID;
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteLK", "Linkages")',
                    data: '{link: ' + JSON.stringify(link) + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        alert("done!!");
                    
                        window.location.reload();
                    }

                });
            }
            
        }

        function SaveChanges(e) {
            var linkage = {};
            linkage.ColumnToUpdate = $("[id*=ColumnToUpdate]").val();
            linkage.FieldValue = $("[id*=txtValue]").val().trim();
            linkage.ID = $("[id*=keySelected]").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveLinkage", "Linkages")',
                data: '{linkage: ' + JSON.stringify(linkage) + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert("done!!");
                    location.href = location.href ;
                    window.location.reload();
                }

            });
        }
    </script>
}



<div style="max-height: 500px; overflow: auto;">
    <table class="table table-hover">
        <thead>
            <tr>

                <th width="1px"></th>
                <th scope="col">@Html.DisplayNameFor(m => m[0].LinkageType)</th>

                <th>@Html.DisplayNameFor(m => m[0].LinkageLocation)</th>
                <th scope="col">@Html.DisplayNameFor(m => m[0].RowCreateDate)</th>
                <th scope="col">@Html.DisplayNameFor(m => m[0].CreateEndUserName)</th>
                
                <th></th>

            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Count; i++)
            {
            <tr class="table-primary">

                <td>@Html.HiddenFor(modelItem => @Model[i].ID, new { id = "key" })</td>

                <td>@Model[i].LinkageType</td>

                <td><div class="LinkageLocation">@if (@Model[i].LinkageLocation == null) { <text>&nbsp;</text>} else {@Model[i].LinkageLocation}</div></td>

                <td width="120px">@Model[i].RowCreateDate.ToShortDateString()</td>
                <td width="160px">@Model[i].CreateEndUserName</td>
               
                <td width="40px"><div class="delete"><button class="btn btn-outline-secondary">Delete</button></div></td>
            </tr>
            }
        </tbody>
    </table>
</div>


@Html.Partial("_AddLinkages")


