<div class="btn-group btn-group-toggle">

    @using (Html.BeginForm("Index", "ChangeHistory", FormMethod.Post))
    {
        @Html.Hidden("selectedReportId", @ViewData["selectedReportId"])
        @Html.Hidden("selectedReportName", @ViewData["selectedReportName"])
        if (@ViewData["buttonName"].ToString() == "CH")
        {
            <input checked="" autocomplete="off" type="submit" name="CH" value="Change History" class="btn btn-secondary active" />
        }
        else
        {
            <input checked="" autocomplete="off" type="submit" name="CH" value="Change History" class="btn btn-secondary " />
        }
    }


    @using (Html.BeginForm("Index", "StoredProcs", FormMethod.Post))
    {
        @Html.Hidden("selectedReportId", @ViewData["selectedReportId"])
        @Html.Hidden("selectedReportName", @ViewData["selectedReportName"])
        if (@ViewData["buttonName"].ToString() == "SP")
        {
            <input type="submit" name="SP" value="Stored Procs" class="btn btn-secondary active" />
        }
        else
        {
            <input type="submit" name="SP" value="Stored Procs" class="btn btn-secondary" />
        }

    }


    @using (Html.BeginForm("Index", "Linkages", FormMethod.Post))
    {
        @Html.Hidden("selectedReportId", @ViewData["selectedReportId"])
        @Html.Hidden("selectedReportName", @ViewData["selectedReportName"])
        if (@ViewData["buttonName"].ToString() == "LK")
        {
            <input type="submit" name="LK" value="Linkages" class="btn btn-secondary active" />
        }
        else
        {
            <input type="submit" name="LK" value="Linkages" class="btn btn-secondary" />
        }

    }

    @using (Html.BeginForm("Index", "Parameters", FormMethod.Post))
    {
        @Html.Hidden("selectedReportId", @ViewData["selectedReportId"])
        @Html.Hidden("selectedReportName", @ViewData["selectedReportName"])
        if (@ViewData["buttonName"].ToString() == "PA")
        {
            <input type="submit" name="PA" value="Parameters" class="btn btn-secondary active" />
        }
        else
        {
            <input type="submit" name="PA" value="Parameters" class="btn btn-secondary" />
        }

    }


</div>

